body {
    margin-left: 20px;
}

h1 {
    margin-top: 10px;
    border-bottom: 4px solid lightslategray;
    width: 620px;
    text-align: center;
}

.daydiv{
    border: 3px solid lightslategray ;
    margin: 10px;
    padding: 10px;
    width: 600px;

    border-radius: 15px;
}

.hourDiv{
    border-left: 4px solid lightblue;
    padding-left: 10px;
}