<!DOCTYPE html>
<html lang="es">
    <head>

        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}

        {% include '_layout/stylesheets.html.twig' %}

    </head>
    <body>
        {% include '_layout/javascripts.html.twig' %}
    </body>
</html>
